/* Create two main media queries for the layout 

1) Mobile Device Layout (devices under 759 pixels)
2) Desktop Layout (devices over 1024 pixels) or (devices over 760)

OPTIONAL:

3) Make an in between Query for Tablets (760 - 1024 pixels)

Sections Required:

1) Header for "The Code Review"
2) SubHeader for the "Signup for our newsletter"
3) A fieldset / legend / form for the Contact Information
4) Another fieldset / legend / form for the Newsletter
5) Footer for the "Copyright The Code Review"


Information in each section:
1)
	a. THE CODE REVIEW

2)
	a. Signup for our newsletter (h2)
	b. Get the latest news on how your code is doing right in your inbox (p)

3) FIELDSET
	a. Contact Information (h2)
	b. Full Name (label)
		1. Text Field (input - required)
	c. Email Address (label)
		1. Text Field (input - required)
	d. Phone Number (label)
		1. Text Field (input)
	e. Street Address (label)
		1. Text Field (input)
	f. City (label)
		1. Text Field (input)
	g. State (label)
		1. Option Group
	h. Zip Code (label)
		1. Text Field (input)

4) FIELDSET
	a. Newsletter (h2)
	b. Select the newsletter you would like to receive (p)
		1. CheckBoxes
			- HTML News
			- CSS News
			- Javascript News
	c. Newsletter format (p)
		1. Radio Buttons
			-HTML
			-Plain Text
	d. Other topics you'd like to hear about (p)
		1.TextArea
	e. Sign Up (button)

5) FOOTER
	a. Copyright The Code Review



Things to make note of:
- From looking at the markup the max-width on the desktop layout is 600px
- On the mobile layout there is padding on both sides, indicating a % width was used and then centered.


FONT COLORS
Background Color: #2d3945

Font Colors: #2d3945 (heading h2)
			 #495d70 (secondary)

Input Background Color: #eff0f1

input Focus border color: #46698b

Button Background Color:  #4ebbb5

*/
/*=============================================

WRAPPER

============================================*/

.wrapper {
	max-width: 600px;
	margin: 0 auto;
}

/*==============================================

FONTS

==============================================*/
html {
	font-size: .85em;
}

* {
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

h2 {
	color: #2d3945;
}

label,
fieldset p{
	color: #495d70;
}



/*==============================================

HEADING

==============================================*/

section.heading {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
	background-color: #2d3945;
	height: 75px;
}

section.heading h1 {
	color: white;
	margin: 0;
	padding-top: 25px;
	font-size: 1.3em;
}

/*==============================================

CALL TO ACTION

==============================================*/

section.callToAction {
	width: 90%;
	text-align: center;
	margin: 0 auto;
	border-bottom: 4px solid #2d3945;
	padding-bottom: 15px;
}


/*==============================================

Form Fill Out

==============================================*/

.contactFillOut {
	width: 90%;
	margin: 0 auto;
	margin-top: 3px;
	border-top: 2px solid #2d3945;
	border-bottom: 2px solid #2d3945;
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
}

.contactFillOut form fieldset {
	border-style: none;
	padding-left: 0;
	margin-left: 0;
	
}

legend {
	color: #2d3945;
	font-size: 1.3em;
	font-weight: bolder;
}
.contactFillOut label {
	display: block;
	padding: 15px 0;
}
.contactFillOut input,
.contactFillOut select,
.contactFillOut option {
	width: 100%;
	border-radius: 5px;
	border-style: none;
	background-color: #eff0f1;
	padding: 15px;
	color: #adb2b7;

}

.contactFillOut input.zipCode {
	width: 50%;
}

.contactFillOut input.required::-webkit-input-placeholder { 
	text-align:right;
	font-style: italic;
}

input:focus {
	outline-color: #46698b;
}






/*==============================================

Newsletter Fill Out

==============================================*/

section.newsletterFillOut {
	padding-top: 25px;
	width: 90%;
	margin: 0 auto;
}

section.newsletterFillOut fieldset {
	border: none;
	padding-left: 0;
}

section.newsletterFillOut div {
	padding: 7px 0;
}

section.newsletterFillOut textarea {
	background-color: #eff0f1;
	border-style: none;
	width: 100%;
	height: 100px;
	border-radius: 5px;
	padding: 5px;
}

section.newsletterFillOut button {
	width: 100%;
	padding: 20px;
	margin-top: 25px;
	background-color: #4ebbb5;
	border-style: none;
	border-radius: 5px;
	color: #fff;
	font-size: 1.4em;
	font-weight: bolder;
	margin-bottom: 0;
}





/*==============================================

FOOTER

==============================================*/


footer {
	text-align: center;
	color: lightgray;
}


/*==============================================

MEDIA QUERIES

==============================================*/

/* Media Query for Computers */
@media (min-width: 760px) {
	section.callToAction {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	
	.contactFillOut input,
	.contactFillOut select{
		display: inline-block;
		width: 72.5%;
		margin-bottom: 20px;
	}
	.contactFillOut label {
		width: 25%;
		padding-right: 2.5%;
		display: inline-block;
	}
	
	.contactFillOut input.zipCode {
		width: 25%;
	}
	
	.contactFillOut legend {
		padding-bottom: 20px;
	}
	
	
	
	
}















